body {
  background-color: #f3f3f3;
  font-family: 'Tahoma', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px 20px;
}

h1 {
  font-size: 2.5em;
  color: #222;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.profile-img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
